<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Game Management System</title>
</head>
<body>
    <h1>Video Game Management System</h1>
    <a href="/add-game">Add a Video Game</a> <br>
    <a href="/games">Show All Video Games</a> <br>
    <a href="/get-game">Show a Video Game</a> <br>
    <a href="/update-game">Update a Video Game</a> <br>
    <a href="/delete-game">Delete a Video Game</a>
</body>
</html>